@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3490dc;
  --secondary-color: #ffed4a;
  --accent-color: #e3342f;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  color: #333;
}
